<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blueviolet;">
    
    {% for i in page_obj %}
        <ul>
            <li><h1><a href="{{i.get_absolute_url}}" style="color:whitesmoke;text-decoration: none;">{{i.title}}</a></h1></li>
            <li><h2 style="color:whitesmoke;">{{i.description|truncatewords:10}}</h2></li>
           
        </ul><br><br>
    {% endfor %}

    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}


    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}>
    
</body>
</html>